page-estimation {   

    .trajet-true {
        

        .estimation-resume {
            background-color: #3F51B5;

            ion-card-title {
                color: white;
            }
        }
        
    }

    .trajet-false {
        background-color: maroon;
        color: white;
    }
}
