<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes favoris</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 text-center>Favoris</h3>

<!--
  <ion-list>
    <ion-item *ngFor="let place of favoriteplaces | async">
       {{ place.name }} 
    </ion-item>
  </ion-list>
-->
  <ion-card *ngFor="let place of favoriteplaces | async">
    <img  [src]="place.picture_URL"/>
    <ion-card-content>
      <ion-card-title>
        {{ place.name }}
        </ion-card-title>
      <p>
        description
      </p>
      <button ion-button icon-left clear small (tap)="remove(place.$key)">
        <ion-icon name="heart"></ion-icon>
        <div>Favoris</div>
      </button>
  </ion-card-content>
</ion-card>

</ion-content>
