<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>" {{ title }} "</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--
  <ion-list>  
    <ion-item *ngFor="let result of response.results">
      <ion-thumbnail item-start>
        <img [src]="result.url_to_main_Image">
      </ion-thumbnail>
      <h2>{{ result.name }}</h2>
      <p> {{ result.formatted_address }}</p>
      <button ion-button clear item-end>S'y rendre</button>
    </ion-item>
  </ion-list>
  -->
 
  <div *ngIf="results; else connexionFailed">
    <ion-card *ngFor="let result of results" >
    
      <img [src]="result.url_to_main_Image"/>
      <ion-card-content>
        <ion-card-title>
          {{ result.designation }}
        </ion-card-title>
        <p> {{ result.googleDetails.formatted_address }}</p>
      </ion-card-content>
      
    </ion-card>
  </div>
  <ng-template #connexionFailed>
    <h3>Pas de connexion Internet</h3>
  </ng-template>

</ion-content>
