<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{ title }} à proximité</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="results; else connexionFailed">
    <ion-card *ngFor="let result of results" >
    
      <img [src]="result.url_to_main_Image"/>
      <ion-card-content>
        <ion-card-title>
          {{ result.designation }}
        </ion-card-title>
        <p> {{ result.googleDetails.formatted_address }}</p>
        <p> {{  result.googleDetails.vicinity }}</p>
      </ion-card-content>
      
    </ion-card>
  </div>
  <ng-template #connexionFailed>
    <h3>Pas de connexion Internet</h3>
  </ng-template>

</ion-content>
